<script>
$(document).ready(function() {

  var errorTimeout = setTimeout(function() {
    if (typeof tbody == 'undefined') {
      $('#status').html('You don\'t have any pages yet').fadeIn('slow');
    }
  }, 10000);

  var requestUrl = $('#page-list').data('api') + '?' + $('#page-list').data('params') 

  $.getJSON(requestUrl, function(data) {
    clearTimeout(errorTimeout); 
    
    var tbody = '';

    var editPath = $('#page-list').data('edit');

    $.each(data, function(key, val) {
        tbody += '<tr>';
        
        console.log(val);

        tbody += '<td><b>';
        
        if (val.documents.length > 0) {
          tbody += '<a href="<%= pages_path %>/' + val.id + '/documents" class="doc-toggle" data-doc="doc' + val.id + '">-></a> ';
        }
        
        tbody +=  val.name + '</b></td>';
        tbody += '<td><b>' + val.title + '</b></td>';
        tbody += '<td><b>' + val.description + '</b></td>';
        tbody += '<td><b>' + val.template.name + '</b></td>';
        tbody += '<td>';
        tbody += '<a href="http://' + val.name + '" target="_blank">Preview</a>';
        tbody += ' / ';
        tbody += '<a href="' + editPath + '/' + val.id + '/edit">Edit</a>';
        tbody += ' / ';
        tbody += '<a href="#" class="delete-page-action" data-page-id="' + val.id + '">Delete</a>';
        tbody += '</td>';
        tbody += '</tr>';

        if (val.documents.length > 0) {
          for (var d in val.documents) {
            tbody += '<tr class="doc' + val.id + '" style="display: none;">';
            tbody += '<td></td>';
            tbody += '<td>' + val.documents[d].title + '</td>';
            tbody += '<td>Document</td>';
            if (val.documents[d].tpl) {
              tbody += '<td>' + val.documents[d].tpl.name  + '</td>';
            } else {
              tbody += '<td></td>';
            }
            tbody += '<td>';
            tbody += '<a href="http://' + val.name + val.documents[d].links[0].path + '" target="_blank">Preview</a>';
            tbody += ' / ';
            tbody += '<a href="' + editPath + '/' + val.id + '/documents/' + val.documents[d].id + '/edit">Edit</a>';
            tbody += ' / ';
            tbody += '<a href="#" class="delete-document-action" data-page-id="' + val.id + '" data-document-id="' + val.documents[d].id + '">Delete</a>';
            tbody += '</td>';
            tbody += '</tr>';
          }
        }
    });

    $('.doc-toggle').live('click', function() {
      var classId = $(this).data('doc');
      $('.' + classId).slideToggle();
      return false;
    });

    $('.delete-page-action, .delete-document-action').live('click', function() {

      result = confirm('Are you sure?');

      if (result) {

        var requestUrl = 'http://www.dumbocms.com/api/pages/' + $(this).data('page-id');

        if ($(this).hasClass('delete-document-action')) {
          requestUrl += '/documents/' + $(this).data('document-id');
        }

        requestUrl += '?' + $('#page-list').data('params'); 
        
        $.ajax({
          url: requestUrl,
          type: 'post',
          beforeSend: function(xhr) {
            xhr.setRequestHeader('X-Http-Method-Override', 'DELETE');
          },
          success: function(data) {
            window.location.href = '/pages'; 
          },
          error: function(data) {
            window.location.href = '/pages';
          }
        });
        
      }

    });

    $('#page-list tbody').html(tbody);
    $('#page-list-status').fadeOut('slow');
    $('#page-list').fadeIn('slow');
  });


});
</script>
