%h1 My Pages

#content
  #page-list-status
    Loading...
  %table#page-list{ :style => 'display: none', :data => { :api => api_url('pages'), :params => api_params, :edit => pages_path } }
    %thead
      %tr
        %th Name
        %th Title
        %th Description
        %th Actions
    %tbody

= javascript_include_tag 'pages_index'
