<script>
$(document).ready(function() {
  var apiUrl    = '<%= api_url('pages') + '/' + params[:page_id] + '/documents/' + params[:id] %>'
  var apiToken  = '<%= api_token %>'
  var requestUrl = apiUrl + '?token=' + apiToken + '&callback=?';

 console.log(requestUrl);
  
  $.getJSON(requestUrl, function(data) {

    var cats = '<option value=""></option>';

    for (var i in data.cats) {
       cats += '<option value="' + data.cats[i].id + '"';

       if (data.document.category_id && data.document.category_id == data.cats[i].id) {
           cats += ' selected="selected"';
       }

       cats += '>' + data.cats[i].name + '</option>';
    }

    $('select#document_category').html(cats);
    $('input#document_title').val(data.document.title);
    $('textarea#document_content').val(data.document.content).redactor({ imageUpload: '/upload/image' });
    $('input#document_latitude').val(data.document.latitude);
    $('input#document_longitude').val(data.document.longitude);
    $('#document-form-status').fadeOut('slow');
    $('#document-form').fadeIn('slow');
  });

  submitButton = $('#submit');

  submitButton.click(function() {

    submitButton.val('Please, wait...');

    var requestData = 'token=' + apiToken + '&' + $('#document-form > form').serialize();

    $.ajax({
      url: apiUrl,
      type: 'post',
      data: requestData,
      beforeSend: function(xhr) {
        xhr.setRequestHeader('X-Http-Method-Override', 'PUT');
      },
      success: function(data) {
        window.location.href = '<%= page_documents_path(params[:page_id]) %>'; 
      }
    });

    return false;
  });

});
</script>
