// Place all the styles related to the inwx controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a
  color: #457BB9

.top_logo
  height: 120px
  text-align: left
  margin-bottom: 5px

  img
    margin-top: 50px 
  
.bordered
  border-bottom: 1px dashed #c4c4c4
  margin-bottom: 10px

.menu
  a
    color: #186F8A
  &.first
    padding-bottom: 10px
  &.second
    margin-bottom: 30px

.menu-item
  float: left
  border-left: 1px solid #c4c4c4
  padding: 0 10px
  &.first
    border: 0
    padding-left: 0

.clear
  clear: both

.topspace20
  margin-top: 20px

.centered
  margin-left: auto
  margin-right: auto
  text-align: center

.preview_template
  margin-bottom: 30px
  h4
    font-size: 14px
    border-bottom: 1px solid #c4c4c4
    margin-bottom: 8px
