%h1 My InwxDomains

#content
  %table
    %thead
      %tr
        %th Domain
        %th Status
        %th{ :colspan => 2 } Actions
    %tbody{ :id => 'dlist' }
      = render :partial => 'domain', :collection => resources

= link_to "Get domains", get_domains_domains_path, :remote => true
|
= link_to "Update status for all Domains", update_all_domains_path, :remote => true
