<h1>InwxDomains#index</h1>

<div id='content'>
  <table>
    <tr>
      <th>Domain</th>
      <th>Status</th>
    </tr>
      <%= render :partial => 'domain', :collection => @domains %>
  </table>
</div>
<%= link_to "Update status for all Domains", update_all_domains_path, :remote => true %>